# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/

# Environment variables
.env
.env.*

# Database
*.db
postgres_data/

# Docker
.docker/
docker-data/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Node (if used later)
node_modules/